body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(148, 1, 1, 1) 100%
  );
  font-family:Josefin Sans, Arial, Helvetica, sans-serif ;
  color: #fff;
}

  
  #card {
    text-align: center;
  padding: 6vw;
  width: 60vw;
  border-radius: 10px;
  box-shadow: 10px 2px 20px rgba(0, 0, 0, 0.525);
  border: #000000 2px solid;
  background: linear-gradient(90deg, rgb(149, 0, 0), rgb(0, 0, 0) 100%);
  }
  
  h1 {
  font-size: 30px;
  margin-top: -5px;
  }
  
  label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .formulario {
    text-align: center;
  }
  
  input {
    height: 30px;
    border-radius: 5px;
    width: calc(70% - 20px);
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #000000;
    font-size: 17px;
  }
  
  .senha {
    border: 3px inset #40ff00;
    background: none;
    margin-left: 20px;
    font-size: 17px;
    border-top: 0cm;
    border-left: 0cm;
    border-right: 0cm;
    height: 10px;
    
  }
  
.botao {
  margin-top: 8vw;
  margin-left: 0vw;
  height: 7%;
  font-size: 2vw;
  background-color: #ffffff;
  color: #000000;border: outset rgb(255, 57, 57) ;
  border-width: 0px 5px 6px 2px;
  border-radius: 1vw;
  cursor: pointer;
  width: 25%;
  padding-top: 10px;
  font-family:Josefin Sans, Arial, Helvetica, sans-serif ;
  font-weight: bolder;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 5px 30px rgb(0, 0, 0);
}
  
  .botao:hover {
    background-color: #fb0000;
    transform: translateY(-2px);
  }
  
  .botao:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .eye-icon {
    position: relative;
    left: 5px; 
    cursor: pointer;
    font-size: 18px;
  }
  
  
  